/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.debug {
    border: 2px solid red;
    height: 50%;
    width: 50%;
}



body {
    font-family: "Arial", sans-serif;
    background-color: white;
    color: black;
}

.container {
    
    max-width: 1200px;
    margin: 0px auto;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

/* nav */

header {
    background-color: rgb(228, 91, 0);
    color: white;
    box-shadow: 2px 2px 5px #23272a;
}

nav img {
    height: 30px;
}

main {
    padding-top: 110px;
}

.card {

    width: calc(100% / 3 - 10px);
    cursor: pointer;
    flex-shrink: 1;
}

.card-image {
    position: relative;
}

img {
    display: block;
    width: 100%;
}

.badge {
    background-color: rgb(255, 47, 47);
    color: rgb(255, 255, 255);
    font-weight: 500;
    padding: 5px;
    text-align: center;
    position: absolute;
    bottom: 50px;
    left: 0px;

}

.badge-eco {
    background-color: green;
    color: white;
    font-weight: 500;
    padding: 5px;
    position: absolute;
    left: 50px;
    bottom: 50px;
}


.hearth {
    padding: 5px;
    color: rgb(0, 0, 0);
    background-color: white;
    width: 40px;
    text-align: center;
    position: absolute;
    top: 20px;
    right: 0px;
    font-size: 30px;


}

/* hover */

.hearth:hover {

    color: red;
}

li:hover {
    text-decoration: underline;
}


.secondary-image {
    display: none;
}

.card:hover .main-image {
    display: none;
}

.card:hover .secondary-image {
    display: block;
}

footer {
    background-color: #23272a;
    color: white;

}

.card {
    flex-basis: 33,333%;
}

/* description */

.description p,h3 {
    color: #23272a;
}

.description p {
    font-weight: bold;
}

/* icon */

*[class~="fa-brands"] {
    padding: 5px;
}

*[class~="fa-solid"] {
    padding: 5px;
}

/* utility flex */

.d-flex {
    display: flex;
}

.flex-gap {
    gap: 14px;
}



.center-vertical {
    align-items: center;

}

.fixed {
    position: fixed;
    width: 100%;
    top: 0px;
}

.z-index {
    z-index: 1002;
}